/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.header-search-wrapper.nav-collapsed {
  margin: 10px auto 0 90px !important;
}
.header-search-wrapper {
  margin: 10px auto 0 280px !important;
}

.profileDrop {
  display: block !important; 
  width: 141.6px !important; 
  left: 90% !important; 
  top: 64px !important; 
  /* height: 251px !important;  */
  transform-origin: 100% 0px !important; 
  opacity: 1 !important; 
  transform: scaleX(1) scaleY(1) !important;
  transition: 0.5s linear;
}


.sidenav:hover {
  overflow-y: scroll;
  /* height: 690px; */
}

/* @media only screen and (min-width: 993px)
#main {
    padding-left: 250px;
} */


.scrollbar {
	overflow-y: scroll;
	/* height: 500px; */
  }
  .scrollbar-primary {
	scrollbar-color: #F5F5F5 #f5f5f5 !important;
  }
  .scrollbar-primary::-webkit-scrollbar {
  width: 6px;
  }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5; }
  
  .scrollbar-danger {
	scrollbar-color: #ff3547 #f5f5f5;
  }
  
  .scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }
  
  .scrollbar-warning {
	scrollbar-color: #ff8800 #f5f5f5;
  }
  
  .scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }
  
  .scrollbar-success {
	scrollbar-color: #00c851 #f5f5f5;
  }
  
  .scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }
  
  .scrollbar-info {
	scrollbar-color: #33b5e5 #f5f5f5;
  }
  
  .scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }
  
  .scrollbar-default {
	scrollbar-color: #2bbbad #f5f5f5;
  }
  
  .scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }
  
  .scrollbar-secondary {
	scrollbar-color: #aa66cc #f5f5f5;
  }
  
  .scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

.menu-title {
  color: #fff;
}

li > a >.material-icons {
  color: #fff;
}

.sidenav-active-rounded .sidenav li > span, .sidenav-active-rounded .sidenav li span.collapsible-header {
  margin-right: 16px;
  padding: 0 0 0 16px !important;
  transition: none;
}

.sidenav-active-rounded .sidenav li:not(.active) > span:hover {
  margin-right: 16px;
  border-radius: 0 25px 25px 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
}

.sidenav-active-rounded .sidenav li:not(.active) > a:hover {
  margin-right: 16px;
  border-radius: 0 25px 25px 0;
}

.display-block {
  display: block;
  transition: linear;
  transform: translateY(0%);
}

li > a.active  > .material-icons,
li > a.active  > .menu-title
{
  color: black;
}
#main {
  margin-top: 0px !important;
}

#main.main-full {
  padding-left: 250px !important;
}
#main
{
    padding-left: 68px !important;
}

.tesst {
  display: block; width: 550.6px; left: 0px; top: 0px; height: 200px; transform-origin: 0px 0px; opacity: 1; transform: scaleX(1) scaleY(1);
}

.jqx-widget-header {
  color: #555;
   background-color:#0C2D48 !important; 
  border-color:#dddddd;
  height: 40px !important;
  color: #FFF;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-grid-pager-input{
  color: #FFF;
}

.jqx-cell{
  color: #000;
}
.jqx-grid-cell-alt{
  background-color:#e0ecf0 !important;
}


/* Radio Button */
[type='radio']:checked + span:after, [type='radio'].with-gap:checked + span:after {
  background-color: #294DC3 !important;
}

[type='radio']:checked + span:after, [type='radio'].with-gap:checked + span:before, [type='radio'].with-gap:checked + span:after {
  border: 2px solid #294DC3 !important;
}

.p-10{
  padding:10px;
}

.card-header{
  background-color: #145DA0;
  height: 50px;
  padding: 7px;
}

.card-action{
  background-color: transparent !important;
  height: 50px !important;
  padding: 7px !important;
}

.header{
  padding: 10px 10px 0px 10px;
}

.footer{
  padding: 0px 10px 10px 10px;
}

.br-20{
  border-radius: 20px !important;
}

.br-top-left-20{
  border-top-left-radius: 20px;
}

.br-top-right-20{
  border-top-right-radius: 20px;
}

.br-bot-left-20{
  border-bottom-left-radius: 20px !important;
}

.br-bot-right-20{
  border-bottom-right-radius: 20px !important;
}


.card-title{
  padding: 10px;
  color: white;
  font-weight: 500 !important; 
  line-height: 33px;
}

/* Radio Button */

/* Grid  */
selected row 
.jqx-fill-state-pressed{
  background-color: #33b5e5;
}

/* Alternate row */
.jqx-grid-cell-alt{
  background-color: #e8eaf6;
}

/* row 
.jqx-grid-cell{
  background-color: #33b5e5;
} */

.tab-content{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    white-space: nowrap;
    background-color: #fff;
}

.tab-content>.col{
  border: 1.3px solid #2196f3;
}

.tab>a.active{
  border-bottom: 1.5px solid #2196f3;
}

.tab-content>div.active{
  display: block;
}

.tab-content>div{
  display: none;
}

.modal-open{
  z-index: 1003; 
  display: block;
  opacity: 1; 
  top: 10%; 
  transform: scaleX(1) scaleY(1)
}

.modal-open-bottom{
  z-index: 1003; 
  display: block; 
  opacity: 1; 
  bottom: 0px;
}

.modal-overlay{
  z-index: 1002; 
  display: block; 
  opacity: 0.5;
}

.navigation-header-text, .menu-title{
  font-size: 14px !important;
}
.navigation-header{
  /* background-color: #8c9eff; */
  font-weight: bold !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-field>label{
  font-size: 16px !important;
}

.input-field> i.material-icons.active{
  color: #03a9f4 !important;
}

.input-field>label, .MuiInputLabel-formControl, .MuiFormLabel-filled{
  color: #3f51b5 !important;
  font-size: 16px !important;
}

input:focus:not([type=file]), input:focus:not(.MuiInputBase-input){
  border-bottom: 1px solid #1565c0 !important;
  box-shadow: 0 1px 0 0 #1565c0 !important;
}

textarea:focus{
  border-bottom: 1px solid #1565c0 !important;
  box-shadow: 0 1px 0 0 #1565c0 !important;;
}

input{
  font-size: 20px;
}

.btn, .btn:hover{
  background-color: #0C2D48 !important;
}

.btn:hover{
  opacity: 0.8 !important;
}
.sidenav-main {
  background-color:  #145DA0;
}

input[type=file] {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../../images/upload.png') center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 60px 60px;
}
.dropzone {
  background-color: #e4e4e4;
  border-radius: 10px;
  text-align: center;
  border: 2px dashed #64b5f6;
  min-height: 120px;
  /* margin-left: 20px !important; */
}
.pb-5 {
  padding-bottom: 5px;
}
/* 
.jqx-combobox-content{
  padding: 20px 0 5px 4px !important;
} */
.jqx-icon {
  width: 16px;
  height: 16px;
  margin: -12px auto 0;
  position: relative;
  top: 50%;
}
.jqx-icon-arrow-up, .jqx-icon-arrow-down {
  width: 100%;
  height: 100%;
}

.jqx-input-label-material{
  font-size: 20px !important;
  color:  #3f51b5 !important;
  /* top: calc(60% - 7px) !important; */
}

.jqx-input-label-material {
  margin-top: 15px;
  font-size: 16px !important;
  color:  #3f51b5 !important;
  /* top: calc(60% - 7px) !important; */
}

.jqx-combobox-input-material
{
  border-bottom: 1px solid #9e9e9e !important;
  margin-top: 0px !important;
}

.jqx-widget-content-material{
  font-size: 16px !important;
}

.jqx-scrollbar-thumb-state-normal {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  touch-action: none;
}

.jqx-scrollbar-thumb-state-normal-material, .jqx-scrollbar-thumb-state-normal-horizontal-material {
  background: #f5f5f5 !important;
  border-color: #b3b3b3 !important;
}


body, .jqx-input-label-material{
  font-family: Muli,BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}

.align-center{
  text-align: center !important;
    margin: auto !important;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.btn{
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 1rem;
}

.icon-pad {
  padding-left: 45px !important;
}
.icon-label-pad {
  padding-left: 32px !important;
}
.icon-label-pad.Mui-focused, .icon-label-pad.MuiFormLabel-filled {
  padding-left: 45px !important;
}

.progress .determinate {
  background-color: #64b5f6;
}
.MuiInputBase-input {
  border : none !important;
}
.MuiFormControl-marginNormal {
  margin-top: -22px !important;
  margin-bottom: 8px;
  width: 100% !important;
  padding-left: 20px;
}
.datepicker>div>label {
  left : -0.25rem !important
}
.datepicker>div>div>input {
    border: none !important;
    box-shadow: none !important;
}
